@model IEnumerable<Guestbook.Models.Message>

@{
    ViewBag.Title = "Index";
}

<h2>Messages</h2>

<h1>
    Hello, 
    @if (Session["Name"] != null)
    {
        @Session["Name"].ToString();
    }
    else
    {
        @Html.DisplayText("Stranger");
    }
    !
</h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.User.Name)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.MessageBody)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MessageDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    </table>
}


